body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header,
footer {
  padding: 1em;
  color: white;
  background-color: blue;
  clear: left;
  text-align: center;
}
.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
  color: red;
}
.navbar li {
  float: left;
}

h2 {
  text-align: center;
}
section {
  text-align: center;
  float: left;
  height: 500px;
  background-color: lightblue;
  width: 45%;
}
#page2 {
  text-align: center;
  height: fit-content;
  background-color: lightblue;
  width: 45%;
}
#page3 {
  text-align: left;
  height: 500px;
  background-color: lightblue;
  width: 45%;
  padding-left: 20px;
  padding-right: 20px;
}

#vertical-navbar ul {
  list-style-type: none;
  background-color: gold;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  overflow: hidden;
}
#vertical-navbar a {
  color: black;
  text-decoration: none;
  padding: 50px;
  display: block;
}
#vertical-nav {
  text-align: center;
  float: left;
  height: 500px;
  background-color: gold;
  width: 15%;
}
#vertical-navbar a:hover {
  background-color: hsl(51, 100%, 40%);
}

img {
  max-width: 80%;
  height: auto;
  vertical-align: center;
  display: inline-block;
}
