.bg-image {
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

br {
  margin-bottom: 10px;
}

.card {
  height: 580px;
}

.fullvheight {
  min-height: 50vh;
  justify-content: center;
}
